h1{
    font-family: 'Lobster', cursive;
    font-size: 100px;
    text-align: center;
    margin-top: 90px;
}
.artBackground{
    background-image: url("images/artBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.Aurora{
    padding-top: 30px;
    padding-left: 350px;
    padding-right: 350px;
    padding-bottom: 30px;
    margin: auto;
    border-style: 10px solid;
}